Package: born
Version: 0.0.001
Architecture: all
Maintainer: Supun Praneeth <spmsupun@gmail.com>
Installed-Size: 2
Depends: python3.7, python3-pip, docker-ce ,docker-ce-cli
Section: extras
Priority: optional
Homepage: lifeeka.com
Description: Dockerize Microservices
